<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/Logo.svg" height="60" class="p-mr-2" alt="Cartoon image of Harvey">
    <div></div>
  </ng-template>
  <ng-template pTemplate="end">
    <button pButton type="button" icon="pi pi-github" class="p-button-rounded p-ml-2" (click)="goGithub()"></button>
    <button pButton type="button" icon="pi pi-briefcase" class="p-button-rounded p-ml-2"
            (click)="goLinkedIn()"></button>
    <button pButton type="button" icon="pi pi-facebook" class="p-button-rounded p-ml-2" (click)="goFacebook()"></button>
  </ng-template>
</p-menubar>
<header id="dashboardHome" class="narrow-width">
  <h1 class="title-name">Harvey Singh</h1>
  <p class="subtitle">Full Stack Software Developer</p>

  <div class="header-flex-container">
    <div class="profile-image-container">
      <img src="assets/Harvey.png">
    </div>
    <div class="profile-info-container">
      <p class="h4">Hi, I'm Harvey!</p>
      <p>I design and develop web applications in various languages</p>
      <p>I am currently working at <a href="https://www.argusmedia.com/en" target="_blank">Argus Media</a> as a Software
        Engineer</p>
      <p>You will be able to find small projects and examples of my work on this website, or checking my Github</p>
      <p>I love cars, and have had various project cars throughout my short tenure as a driver. I will provide updates
        on my blog</p>
      <p>I have quite a varied music taste, ranging from heavy metal to afrobeats (amongst several other genres)</p>
    </div>
  </div>
</header>
<section id="work">
  <div class="work-container narrow-width">
    <h1>About Me</h1>
    <p>Hello! My name is Harvey and I enjoy creating things that live on the internet. My interest in web development
      started back in 2012 when I was studying Mechanical Engineering — turned out I was more interested in how
      the website worked than studying Bernoulli's Principle!</p>
    <p>Fast-forward to today, and I've had the fortune of working at a
      <a href="https://www.veritas.com"
         target="_blank">data protection company</a>, the <a href="https://www.asos.com" target="_blank">UK's biggest
        fashion
        retailer</a>, and currently at one of the largest commodity and price-benchmarking corporations.</p>
    <p>During my short tenure in the industry, I have had exposure to multiple roles and working paradigms. I have
      worked as a QA Engineer, Software Engineer, and have had exposure to the DevOps pipeline.</p>
    <p>When I am not coding my next project, I enjoy spending time on my project car (currently an E30 BMW with an M52
      swapped engine), playing the latest MMORPGs (World of Warcraft, Guild Wars 2, FFXIV), keeping fit in the gym, and
      meeting new people from all over the world.</p>
  </div>
</section>
